@keyframes bgColorChange {
  0% {
    background-color: #121212; /* Initial dark background */
  }
  5% {
    background-color: #9a101066; /* Slightly lighter gray */
  }
  10% {
    background-color: #085013a5; /* Medium green */
  }
  15% {
    background-color: #1910ba87; /* Light purple */
  }
  20% {
    background-color: #540a4c8e; /* Dark red */
  }
  25% {
    background-color: #1c5c84b3; /* Teal */
  }
  30% {
    background-color: #003f2c9c; /* Deep green */
  }
  35% {
    background-color: #bf7a2f9e; /* Warm orange */
  }
  40% {
    background-color: #642a69b0; /* Rich pink */
  }
  45% {
    background-color: #373737b3; /* Soft gray */
  }
  50% {
    background-color: #6c1c70c5; /* Bright purple */
  }
  55% {
    background-color: #0f5c5b92; /* Deep teal */
  }
  60% {
    background-color: #ff5733c7; /* Vibrant red */
  }
  65% {
    background-color: #2c3e50a3; /* Dark blue */
  }
  70% {
    background-color: #f39c12c7; /* Warm yellow */
  }
  75% {
    background-color: #2980b9c7; /* Bright blue */
  }
  80% {
    background-color: #f1c40fba; /* Bright yellow */
  }
  85% {
    background-color: #8e44ad99; /* Light purple */
  }
  90% {
    background-color: #34495eb3; /* Cool blue-gray */
  }
  95% {
    background-color: #16a085a1; /* Ocean teal */
  }
  100% {
    background-color: #121212; /* Reset to initial color */
  }
}

/* .library:hover {
  animation: bgColorChange 30s infinite ease-in-out; 
} */
